<%= form_with(url: "/registered_account_limits/#{registered_account_limit.id}", model: registered_account_limit, class: "contents", method: :patch) do |form| %>
<div id="fhsa_contributions_update_div" class="hidden">
  <div class="my-5">
    <%= form.label :fhsa_contributions, "FHSA Contributions", class: "font-bold" %>
    <%= form.number_field :fhsa_contributions, step: :any, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    <div class="inline">
      <%= form.submit "Save", class: "btn btn-sm btn-success mt-2" %>
    </div>
  </div>
</div>
<% end %>