<div class="flex flex-row">
  <div>
    <%= render "layouts/sidenav" %>
  </div>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Registered Account Limits" %>

  <div class="flex flex-col mr-5 max-w-screen-lg basis-full">
    <div>
      <h1 class="text-4xl font-bold ml-5 mb-5">Registered Account Limits And Contributions</h1>
    </div>
    <div class="flex flex-col ml-5 gap-5">
      <% %w[rrsp tfsa fhsa].each do |account_type| %>
        <%= render partial: "account_type", locals: { account_type: account_type, registered_account_limit: @registered_account_limit} %>
      <% end %>
    </div>
  </div>
</div>
